<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?define VersionNumber = "!(bind.FileVersion.RedmineClient.exe)" ?>
  <?define UpgradeCode = "{1eb3286e-01fe-438a-a603-e5e706396f97}" ?>
  <?define ProductCode = "{4f91a54d-c447-4dfa-82fd-7e5faba5b642}" ?>

  <Product Id="$(var.ProductCode)" Name="Redmine Desktop Client" Language="1033" Version="$(var.VersionNumber)" Manufacturer="Redmine" UpgradeCode="$(var.UpgradeCode)">
    
		<Package Id="*" Keywords="Installer" Description="Redmine Desktop Client Installer"
             Comments="Redmine Desktop Client V2" InstallerVersion="300" Compressed="yes" InstallPrivileges="limited" InstallScope="perUser"/>

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <?define ResDir = ..\Redmine.Client\res ?>
    <?define BinDir = ..\Redmine.Client\bin\$(var.Configuration) ?>
    <?define ApiBinDir = ..\Redmine.Api\bin\$(var.Configuration) ?>


    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion OnlyDetect='yes' Property='SELFFOUND'
                      Minimum='$(var.VersionNumber)' IncludeMinimum='yes'
                      Maximum='$(var.VersionNumber)' IncludeMaximum='yes' />
      <UpgradeVersion Minimum="$(var.VersionNumber)"
                      IncludeMinimum="no"
                      OnlyDetect="yes"
                      Language="1033"
                      Property="NEWPRODUCTFOUND" />
      <UpgradeVersion Minimum="1.0.0.0"
                      IncludeMinimum="yes"
                      Maximum="$(var.VersionNumber)"
                      IncludeMaximum="no"
                      Language="1033"
                      Property="UPGRADEFOUND" />
    </Upgrade>

    <CustomAction Id="AlreadyUpdated" Error="Redmine Desktop Client is already updated to version $(var.VersionNumber)." />
    <CustomAction Id="NoDowngrade" Error="A newer version of the [ProductName] is already installed." />
    <InstallExecuteSequence>
      <Custom Action="AlreadyUpdated" After="FindRelatedProducts">SELFFOUND</Custom>
      <Custom Action="NoDowngrade" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <Directory Id="TARGETDIR" Name="SourceDir">
      
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="RedmineClient">
          <Directory Id="LANG_NL" Name="nl" />
          <Directory Id="LANG_CS_CZ" Name="cs-CZ" />
          <Directory Id="LANG_DE" Name="de" />
          <Directory Id="LANG_PT_BR" Name="pt-BR" />
          <Directory Id="LANG_FR" Name="fr" />
        </Directory>
			</Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Redmine Desktop Client">
          <Component Id="ProgramMenuDir" Guid="{28F69F71-E0CC-4481-8265-E0EC5CE36A74}">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\Redmine\RedmineClient' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
      
    </Directory>

    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="RedmineClient.exe" Guid="{344807fa-32cd-4840-b050-1769bd7bdedf}">
        <File Id="RedmineClient.exe" Source="$(var.Redmine.Client.TargetPath)" KeyPath="yes">
          <Shortcut Id="startmenu.RedmineClient.exe" Directory="ProgramMenuDir" Name="Redmine Desktop Client" WorkingDirectory="INSTALLLOCATION" Icon="icon.RedmineClient.exe" IconIndex="0" Advertise="yes"/>
          <Shortcut Id="desktop.RedmineClient.exe" Directory="DesktopFolder" Name="Redmine Desktop Client" WorkingDirectory="INSTALLLOCATION" Icon="icon.RedmineClient.exe" IconIndex="0" Advertise="yes"/>
        </File>
      </Component>
      <Component Id="Redmine.Net.Api.dll" Guid="{C3FA0BC5-5E42-4450-BEF9-6117134ECD65}">
        <RemoveFile Id="Remove_Redmine_Net_Api_Dll" Name="$(var.Api.TargetFileName)" On="install"/>
        <File Id="Redmine.Net.Api.dll" Name="$(var.Api.TargetFileName)" Source="$(var.Api.TargetPath)" KeyPath="yes"/>
      </Component>
      <Component Id="properties.app.config" Guid="{270DDDC8-8F70-4059-823C-3CFAEAEE83B8}">
        <File Id="properties.app.config" Source="$(var.Redmine.Client.TargetPath).config" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="LANG_NL">
      <Component Id="nl.RedmineClient.resources.dll" Guid="{72A27666-9B04-47CA-83D4-C51C60505FAD}">
        <File Id="nl.RedmineClient.resources.dll" Source="$(var.BinDir)\nl\RedmineClient.resources.dll" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="LANG_CS_CZ">
      <Component Id="cs_cz.RedmineClient.resources.dll" Guid="{CC2C88A3-5D7E-4408-8DB8-8C519CD2736D}">
        <File Id="cs_cz.RedmineClient.resources.dll" Source="$(var.BinDir)\cs-CZ\RedmineClient.resources.dll" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="LANG_DE">
      <Component Id="de.RedmineClient.resources.dll" Guid="{EACD6C5D-F12A-435F-95DA-3BA5E377E7DC}">
        <File Id="de.RedmineClient.resources.dll" Source="$(var.BinDir)\de\RedmineClient.resources.dll" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="LANG_PT_BR">
      <Component Id="pt_br.RedmineClient.resources.dll" Guid="{A853091D-D9C2-4545-AECA-F39416DC0614}">
        <File Id="pt_br.RedmineClient.resources.dll" Source="$(var.BinDir)\pt-BR\RedmineClient.resources.dll" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="LANG_FR">
      <Component Id="fr.RedmineClient.resources.dll" Guid="{66CB15BD-3BB2-4E75-8636-51B0E8D0FF83}">
        <File Id="fr.RedmineClient.resources.dll" Source="$(var.BinDir)\fr\RedmineClient.resources.dll" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Check if .Net 4.0 is installed-->
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework 4.0 then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>
    
    
    <Feature Id="Complete" Title="Redmine Desktop Client" Description="Install all files of the package." Level="1" ConfigurableDirectory="INSTALLLOCATION" Display="expand">
			<ComponentRef Id="RedmineClient.exe" />
      <ComponentRef Id="Redmine.Net.Api.dll" />
      <ComponentRef Id="nl.RedmineClient.resources.dll"/>
      <ComponentRef Id="cs_cz.RedmineClient.resources.dll"/>
      <ComponentRef Id="de.RedmineClient.resources.dll"/>
      <ComponentRef Id="pt_br.RedmineClient.resources.dll"/>
      <ComponentRef Id="fr.RedmineClient.resources.dll"/>
      <ComponentRef Id="properties.app.config"/>
      <ComponentRef Id="ProgramMenuDir"/>
    </Feature>

    <Icon Id="icon.RedmineClient.exe" SourceFile="$(var.ResDir)\clock.ico" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    
    <UIRef Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="License.RedmineClient.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.bmp" />

    <Property Id='ARPHELPLINK'>https://code.google.com/p/redmine-desktop-client</Property>
    <Property Id='ARPPRODUCTICON'>icon.RedmineClient.exe</Property>
    <Property Id='ARPCOMMENTS'>The Redmine Desktop Client for measuring your time spent on Redmine Issues</Property>
  </Product>
</Wix>
