<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Redmine.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Redmine.Client.Properties.Settings>
            <setting name="RedmineUser" serializeAs="String">
                <value>my username</value>
            </setting>
            <setting name="RedmineURL" serializeAs="String">
                <value>http://redmine.example.org</value>
            </setting>
            <setting name="RedminePassword" serializeAs="String">
                <value>my password</value>
            </setting>
            <setting name="RedmineAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeToSystemTray" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimizeOnStartTimer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopupInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CacheLifetime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowSizeX" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="MainWindowSizeY" serializeAs="String">
                <value>460</value>
            </setting>
            <setting name="LastProjectId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastIssueId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastActivityId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ApiVersion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ClosedStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OnlyAssignedToMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsTicking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TickingTicks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PauseTickingOnLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateIssueIfNew" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InProgressStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IssueWindowSizeX" serializeAs="String">
                <value>492</value>
            </setting>
            <setting name="IssueWindowSizeY" serializeAs="String">
                <value>374</value>
            </setting>
            <setting name="AddNoteOnChangeStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IssueGridSortOrder" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="IssueGridSortColumn" serializeAs="String">
                <value>Id</value>
            </setting>
            <setting name="IssueGridHeader_ShowAssignedTo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IssueGridHeader_ShowCategory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IssueGridHeader_ShowParentIssue" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IssueGridHeader_ShowPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IssueGridHeader_ShowProject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IssueGridHeader_ShowStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IssueGridHeader_ShowFixedVersion" serializeAs="String">
                <value>False</value>
            </setting>
        </Redmine.Client.Properties.Settings>
    </userSettings>
</configuration>