<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Redmine.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Redmine.Client.Properties.Settings>
      <setting name="RedmineUser" serializeAs="String">
        <value>my username</value>
      </setting>
      <setting name="RedmineURL" serializeAs="String">
        <value>http://redmine.example.org</value>
      </setting>
      <setting name="RedminePassword" serializeAs="String">
        <value>my password</value>
      </setting>
      <setting name="RedmineAuthentication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeToSystemTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeOnStartTimer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PopupInterval" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CacheLifetime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowSizeX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainWindowSizeY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastProjectId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastIssueId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastActivityId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LanguageCode" serializeAs="String">
        <value>en-US</value>
      </setting>
    </Redmine.Client.Properties.Settings>
  </userSettings>
</configuration>